.carousel-container {
  position: relative;
  max-width: 800px;
  margin: auto;
}

.carousel-slide img {
  width: 100%;
  border-radius: 10px;
}


.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}


.carousel-dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #ddd;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}
